@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.element {
    width: 50%;
    background-color: red;
}

@media (max-width: 800px) {
    .element{
        width: 100%;
        background-color: blue;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
}

body {
    background-color: #e3ceff;
}

.header {
    background-color: #1b1b1b;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 80px;
    padding: 10px 0%;
}

.header .logo img{
    height: 40px;
    width: auto;
    transition: all 0.5s;
    margin-top: 5px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .name {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 450px
}	

.header .navbar {
    list-style: none;
}

.header .navbar li {
    display: inline-block;
    margin-right: 50px;
}

.header .navbar li:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}

.header .navbar li a {
    color: #575757;
    font-size: 18px;
    text-decoration: none;
}

.header .navbar li a:hover {
    color: #ffffff;
}

.me .me_photo img{
    float: inline-end;
    margin: 20px 40px 20px 0px;
    margin-left: 100px;
}

.me .me_info h1{
    margin: 20px 0px 10px 40px;
    font-size: 40px;
}

.me .me_info p{
    margin: 20px 0px 20px 40px;
    font-size: 20px;
    text-align: justify;
}

.me .me_info .philosophy{
    margin: 20px 0px 20px 40px;
    font-size: 25px;
    font-style: italic;
}