@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-family: 'Space Grotesk', sans-serif;
}

body {
    background: linear-gradient(59deg,rgba(255, 255, 255, 1) 0%, rgba(246, 206, 255, 1) 100%);
    margin: 0%;
    padding: 0%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: #1b1b1b;
}

.navbar ul {
    list-style: none;
    display: flex;
    border-bottom: none;
    padding: 0.5em 1.5em;
    align-items: center;
    gap: 1.5em;
}

.navbar .logo img {
    height: 2em;
    width: 2em;
    margin-top: 5px;
}

.navbar .logo_name {
    margin-right: auto;
}

.navbar .logo_name a {
    margin-left: -2.8em;
    padding-left: 1em;
    color: #e0b3ff;
    font-weight: bold;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    transition: color 0.3s;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #bbbaba;
    padding: 0.8em 1.6em;
    font-size: 1.08em;
    font-weight: 500;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.navbar a:after {
    content: "";
    display: block;
    position: absolute;
    left: 20%;
    bottom: 8px;
    width: 60%;
    height: 2px;
    background: linear-gradient(90deg, #e0b3ff 0%, #fff 100%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.navbar a:hover {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: #1b1b1b;
        z-index: 10;
        border-left: none;
        border-bottom: 0.5em solid #e0b3ff;
    }
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em 0;
    }
    .navbar li {
        width: 100%;
        text-align: left;
        margin: 0;
    }
    .navbar .logo_name,
    .navbar .logo {
        display: none;
    }
    .navbar a {
        display: block;
        width: 100%;
        padding: 1em 2em;
        color: #fff;
        font-weight: bold;
    }
}

.me .me_photo img {
    height: 28em;
    width: 24em;
    max-width: 100%;
    margin: -3em 2.5em 1.25em 0em;
    margin-left: 6em;
    border: 0.8em solid #ffffff;
    border-bottom: 5em solid #ffffff;
    box-shadow: 0em 0em 0em rgba(0, 0, 0, 0.2);
    float: inline-end;
    transition: box-shadow 2s ease-in-out;
}

.me .me_photo img.animated {
    box-shadow: 1.25em 1.25em 0em rgba(0, 0, 0, 0.2);
}

.me .me_info h1 {
    width: 50%;
    margin: 140px 40px 0px 40px;
    font-size: 45px;
    position: relative;
}

.me .me_info h1::after {
    content: "";
    display: block;
    height: 5px;
    background-color: #1b1b1b;
    margin-top: 10px;
    position: absolute;
    width: 0%;
    transition: width 3s ease-in-out 0.2s;
}

.me .me_info h1.animated::after {
    width: 30%;
}

.me .me_info p {
    margin: 60px 40px 20px 40px;
    font-size: 20px;
    text-align: justify;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
}

.me .me_info p.animated {
    opacity: 1;
}

.me .me_info .philosophy {
    margin: 60px 40px 280px 40px;
    font-size: 25px;
    font-style: italic;
    opacity: 0;
    transition: opacity 1.8s ease-in-out;
}

.me .me_info .philosophy.animated {
    opacity: 1;
}

@media (max-width: 700px) {

    .me {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 2em;
    }

    .me .me_info h1{
        width: 100%;
    }

    .me .me_info .philosophy {
        text-align: center;
        margin: 0em 0em 0em 0em;
    }

    .me .me_photo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5em 0em 1em 0em;
    }
    .me .me_photo img {
        margin: 0;
        float: none;
        height: 24em;
        width: 22em;
        border-width: 0.8em;
        border-bottom-width: 3em;
    }
}

.skills {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;
    padding: 2em 2em;
    background: #2B2B2B;
    width: 100%;
    justify-content: center;
}

.about_info h2,
.skills_info h2 {
    font-size: 2em;
    color: #e0b3ff;
    margin-bottom: 0.5em;
    margin: 10px 20px 10px 20px;
}

.about_info h2 {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.about_info p, .skills_info p {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 1em;
    text-align: justify;
    margin: 10px 20px 10px 20px;
}

.skills_info h2 {
    margin-top: 0;
}

.skills_info h2 {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 0;
}

.skills_list {
    list-style: none;
    padding: 0;

    margin: 10px 20px 10px 20px;
}

.skills_list li {
    background: #e0b3ff;
    color: #1b1b1b;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin: 0.3em 0.7em 0.3em 0;
    padding: 0.5em 1.2em;
    font-weight: bold;
    font-size: 1em;
}

.skills_list li:hover {
    background: #c77dff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .skills {
        flex-direction: column;
        margin: 2em 0em 0em 0em;
        padding: 1.5em 0.5em;
    }
    .skills > div {
        max-width: 100%;
    }
}

.contact {
    margin: 0em auto 2em auto;
    padding: 0em 1.5em 2em 1.5em;
    margin-bottom: 0em;
    max-width: 100%;
    background: #1b1b1b;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top: 8em solid #202020;
}

.contact::after {
    border-top: 8em solid #202020;
    transform: translateY(-2px);
}

.contact h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: #e0b3ff;
    margin: 2em 0em 1.2em 0em;
    font-size: 2.1em;
    letter-spacing: 1.5px;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.contact_list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.contact_list li {
    margin: 1.2em 0;
}

.contact_list a {
    text-decoration: none;
    color: #000000;
    background: #e0b3ff;
    padding: 0.9em 2.5em;
    width: 25%;
    display: inline-flex;
    margin-right: 100%;
    font-weight: bold;
    font-size: 1.15em;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.contact_list a:hover {
    background: #c77dff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .contact {
        max-width: 98vw;
        padding: 1.5em 0.5em 1.2em 0.5em;
    }
    .contact h2 {
        font-size: 1.5em;
    }
    .contact_list a {
        font-size: 1em;
        padding: 1em 1em;
        margin-left: 1em;
    }
}

.footer {
    background: #131313;
    width: 100%;
    padding: 2em 0 1em 0;
    text-align: center;
    margin-top: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}

.footer-logo {
    width: 2.5em;
    height: 2.5em;
    margin-bottom: 0.3em;
}

.footer-name {
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    color: #fff;
}

.footer-copy {
    color: #bbbaba;
    font-size: 1em;
    margin-top: 0.5em;
}

@media (max-width: 700px) {
    .footer-content {
        gap: 0.5em;
    }
    .footer-logo {
        width: 2em;
        height: 2em;
    }
    .footer-name {
        font-size: 1em;
    }
    .footer-copy {
        font-size: 1em;
    }
}